<form
  [formGroup]="messageForm"
  (ngSubmit)="onSubmit()"
  class="user-input-container"
>
  <mat-form-field appearance="outline" class="message-input">
    <textarea
      matInput
      formControlName="message"
      placeholder="Type a message..."
      [rows]="1"
      cdkAutosizeMaxRows="5"
      cdkTextareaAutosize
    ></textarea>
  </mat-form-field>
  <button
    mat-icon-button
    type="submit"
    [disabled]="!messageForm.valid"
    aria-label="Send message"
  >
    <mat-icon>send</mat-icon>
  </button>
</form>
